# Data processing
- Compute T_Human (time per question) -> DONE

- TODO: Improve heuristics

- TODO: SQRT scaling (instead of linear). DEFINE MIN & MAX:

ratio = np.sqrt(pair_len / mean_pair)
ratio = np.clip(ratio, MIN = 0.3, MAX = 2.5)
t_values = base_time * ratio

In [122]:
import os
import json
import math
from collections import Counter, defaultdict
from typing import List, Dict, Any, Tuple
import pandas as pd
import numpy as np

# ------------------- CONFIG -------------------
FILES = {
    "Chinese_Olympiad_Mathematics": "Chinese_Olympiad_Mathematics.json",
    "English_Olympiad_Mathematics": "English_Olympiad_Mathematics.json",
    "English_Olympiad_Physics": "English_Olympiad_Physics.json",
    "Gaokao_Maths": "Gaokao_Maths.json",
    "Gaokao_Physics": "Gaokao_Physics.json",
}

# Make pandas print all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [123]:
# Contest → (total_minutes, problems)
CONTEST_RULES = {

    # Shortlist —a much larger set of candidate problems prepared for the Jury. NO SUBPROBLEMS.
    # Each q is about 90 minutes, adjust that number
    "IMO": (270, 3),  # Rules -> https://www.imo-official.org/documents/RegulationsIMO.pdf ( 5. Contest Regulations )

    # Exact Exams, 1 or 2 subquestions
    # Divide exam qs by total time and adjust
    "EGMO": (270, np.nan), # Rules -> https://www.egmo.org/egmos/egmo14/regulations/ 
    "RMM": (270, np.nan),  # Rules -> https://rmms.lbi.ro/rmm2024/_dwl/regulation_master2024.pdf

    # Two versions per year, multiple subquestions
    # Divide exam qs by total time and adjust
    "EMC": (240 * 2, np.nan),  # Rules -> https://emc.mnm.hr/competition/rules/ 

    # Only one version per year, multiple subquestions
    # Divide exam qs by total time and adjust
    "ARML": (186, np.nan), # Rules -> https://www.arml.com/ARML/arml_2019/page/index.php?page_type=public&page=competition_rules | https://mathleague.org/arml.php 

# DIFFERENT DATASET ------

    # Gaokao Math - Many questions from mock exams (more than 1)
    # Each q is about 5 minutes, adjust that number
    "Gaokao": (120, 24), # Rules -> https://gaokao.chsi.com.cn/gkxx/zc/ss/202401/20240129/2293250176.html
}

### EGMO EXAMS

- EGMO/2021 = 562,563,564
- EGMO/2021-2 = 565,566,567
- EGMO/2017 = 568,569,570
- EGMO/2017-2 = 571,572,573,574
- EGMO/2016 = 575,576,577
- EGMO/2016-2 = 578,579,580
- EGMO/2020 = 583,584,585
- EGMO/2018 = 586,587,588,589,590
- EGMO/2018-2 = 591,592,593,594
- EGMO/2019 = 595,596,597
- EGMO/2019-2 = 598,599,600
- EGMO/2022 = 601,602.603
- EGMO/2022-2 = 604,605,606
- EGMO/2013 = 607,608,609,610
- EGMO/2013-2 = 611,612,613
- EGMO/2015 = 614,615,616
- EGMO/2015-2 = 617,618,619
- EGMO/2023 = 620,621,622
- EGMO/2023-2 = 623,624,625

### RMM EXAMS

- RMM/2013 = 0,1,2
- RMM/2021 = 3,4,5
- RMM/2021-2 = 26,27,28
- RMM/2015 = 6,7,8
- RMM/2015-2 = 32,33,34
- RMM/2017 = 9,10,11,12
- RMM/2017-2 = 35,36,37
- RMM/2023 = 13,14,15
- RMM/2023-2 = 16,17,18
- RMM/2016 = 19,20,21,22
- RMM/2016-2 = 41,42,43
- RMM/2011 = 23,24,25
- RMM/2011-2 = 47,48,49
- RMM/2018 = 38,39,40
- RMM/2018-2 = 50,51,52
- RMM/2019 = 44,45,46

## Eng Math Olympiad

In [124]:
path = FILES["English_Olympiad_Mathematics"]

data_df = pd.read_json(path)

print("Exam Sources:")
print( data_df['source'].unique() )

Exam Sources:
['RMM/2013' 'RMM/2021' 'RMM/2015' 'RMM/2017' 'RMM/2023' 'RMM/2016'
 'RMM/2011' 'RMM/2018' 'RMM/2019' 'IMO/2007' 'IMO/2011' 'IMO/2010'
 'IMO/2006' 'IMO/2021' 'IMO/2017' 'IMO/2016' 'IMO/2020' 'IMO/2019'
 'IMO/2015' 'IMO/2014' 'IMO/2022' 'IMO/2018' 'IMO/2013' 'IMO/2009'
 'IMO/2008' 'IMO/2012' 'EGMO/2021' 'EGMO/2017' 'EGMO/2016' 'EGMO/2020'
 'EGMO/2018' 'EGMO/2019' 'EGMO/2022' 'EGMO/2013' 'EGMO/2015' 'EGMO/2023'
 'EMC/2001' 'EMC/2011' 'EMC/2005' 'EMC/2021' 'EMC/2015' 'EMC/2004'
 'EMC/2020' 'EMC/2014' 'EMC/2000' 'EMC/2010' 'EMC/2007' 'EMC/2023'
 'EMC/2017' 'EMC/2003' 'EMC/2013' 'EMC/2002' 'EMC/2012' 'EMC/2006'
 'EMC/2022' 'EMC/2016' 'EMC/2009' 'EMC/2019' 'EMC/1998' 'EMC/2008'
 'EMC/2018' 'EMC/1999' 'ARML/2014' 'ARML/2013' 'ARML/2023' 'ARML/2012'
 'ARML/2009' 'ARML/2010' 'ARML/2019' 'ARML/2011']

In [125]:
for source in data_df['source'].unique():

    print('\n\nExam ' + source)

    for contest in CONTEST_RULES.keys():

        if contest in source: print( "Time = " + str( CONTEST_RULES[contest][0] ) + ' , Problems = ' + str( CONTEST_RULES[contest][1] ))

    print( "Number of questions that year = " + str( len(data_df[ data_df['source'] == source ]) ) )

    # print( data_df[ data_df['source'] == source ]["id"] )

Exam RMM/2013
Time = 270 , Problems = nan
Number of questions that year = 6


Exam RMM/2021
Time = 270 , Problems = nan
Number of questions that year = 6


Exam RMM/2015
Time = 270 , Problems = nan
Number of questions that year = 6


Exam RMM/2017
Time = 270 , Problems = nan
Number of questions that year = 7


Exam RMM/2023
Time = 270 , Problems = nan
Number of questions that year = 6


Exam RMM/2016
Time = 270 , Problems = nan
Number of questions that year = 7


Exam RMM/2011
Time = 270 , Problems = nan
Number of questions that year = 6


Exam RMM/2018
Time = 270 , Problems = nan
Number of questions that year = 6


Exam RMM/2019
Time = 270 , Problems = nan
Number of questions that year = 3


Exam IMO/2007
Time = 270 , Problems = 3
Number of questions that year = 29


Exam IMO/2011
Time = 270 , Problems = 3
Number of questions that year = 30


Exam IMO/2010
Time = 270 , Problems = 3
Number of questions that year = 26


Exam IMO/2006
Time = 270 , Problems = 3
Number of questions that year = 31


Exam IMO/2021
Time = 270 , Problems = 3
Number of questions that year = 33


Exam IMO/2017
Time = 270 , Problems = 3
Number of questions that year = 31


Exam IMO/2016
Time = 270 , Problems = 3
Number of questions that year = 35


Exam IMO/2020
Time = 270 , Problems = 3
Number of questions that year = 31


Exam IMO/2019
Time = 270 , Problems = 3
Number of questions that year = 33


Exam IMO/2015
Time = 270 , Problems = 3
Number of questions that year = 29


Exam IMO/2014
Time = 270 , Problems = 3
Number of questions that year = 30


Exam IMO/2022
Time = 270 , Problems = 3
Number of questions that year = 33


Exam IMO/2018
Time = 270 , Problems = 3
Number of questions that year = 27


Exam IMO/2013
Time = 270 , Problems = 3
Number of questions that year = 25


Exam IMO/2009
Time = 270 , Problems = 3
Number of questions that year = 33


Exam IMO/2008
Time = 270 , Problems = 3
Number of questions that year = 26


Exam IMO/2012
Time = 270 , Problems = 3
Number of questions that year = 27


Exam EGMO/2021
Time = 270 , Problems = nan
Number of questions that year = 6


Exam EGMO/2017
Time = 270 , Problems = nan
Number of questions that year = 7


Exam EGMO/2016
Time = 270 , Problems = nan
Number of questions that year = 6


Exam EGMO/2020
Time = 270 , Problems = nan
Number of questions that year = 5


Exam EGMO/2018
Time = 270 , Problems = nan
Number of questions that year = 9


Exam EGMO/2019
Time = 270 , Problems = nan
Number of questions that year = 6


Exam EGMO/2022
Time = 270 , Problems = nan
Number of questions that year = 6


Exam EGMO/2013
Time = 270 , Problems = nan
Number of questions that year = 7


Exam EGMO/2015
Time = 270 , Problems = nan
Number of questions that year = 6


Exam EGMO/2023
Time = 270 , Problems = nan
Number of questions that year = 6


Exam EMC/2001
Time = 480 , Problems = nan
Number of questions that year = 12


Exam EMC/2011
Time = 480 , Problems = nan
Number of questions that year = 17


Exam EMC/2005
Time = 480 , Problems = nan
Number of questions that year = 12


Exam EMC/2021
Time = 480 , Problems = nan
Number of questions that year = 22


Exam EMC/2015
Time = 480 , Problems = nan
Number of questions that year = 10


Exam EMC/2004
Time = 480 , Problems = nan
Number of questions that year = 14


Exam EMC/2020
Time = 480 , Problems = nan
Number of questions that year = 16


Exam EMC/2014
Time = 480 , Problems = nan
Number of questions that year = 14


Exam EMC/2000
Time = 480 , Problems = nan
Number of questions that year = 17


Exam EMC/2010
Time = 480 , Problems = nan
Number of questions that year = 17


Exam EMC/2007
Time = 480 , Problems = nan
Number of questions that year = 18


Exam EMC/2023
Time = 480 , Problems = nan
Number of questions that year = 14


Exam EMC/2017
Time = 480 , Problems = nan
Number of questions that year = 18


Exam EMC/2003
Time = 480 , Problems = nan
Number of questions that year = 19


Exam EMC/2013
Time = 480 , Problems = nan
Number of questions that year = 11


Exam EMC/2002
Time = 480 , Problems = nan
Number of questions that year = 14


Exam EMC/2012
Time = 480 , Problems = nan
Number of questions that year = 12


Exam EMC/2006
Time = 480 , Problems = nan
Number of questions that year = 13


Exam EMC/2022
Time = 480 , Problems = nan
Number of questions that year = 16


Exam EMC/2016
Time = 480 , Problems = nan
Number of questions that year = 10


Exam EMC/2009
Time = 480 , Problems = nan
Number of questions that year = 14


Exam EMC/2019
Time = 480 , Problems = nan
Number of questions that year = 14


Exam EMC/1998
Time = 480 , Problems = nan
Number of questions that year = 8


Exam EMC/2008
Time = 480 , Problems = nan
Number of questions that year = 10


Exam EMC/2018
Time = 480 , Problems = nan
Number of questions that year = 15


Exam EMC/1999
Time = 480 , Problems = nan
Number of questions that year = 7


Exam ARML/2014
Time = 186 , Problems = nan
Number of questions that year = 65


Exam ARML/2013
Time = 186 , Problems = nan
Number of questions that year = 70


Exam ARML/2023
Time = 186 , Problems = nan
Number of questions that year = 54


Exam ARML/2012
Time = 186 , Problems = nan
Number of questions that year = 58


Exam ARML/2009
Time = 186 , Problems = nan
Number of questions that year = 67


Exam ARML/2010
Time = 186 , Problems = nan
Number of questions that year = 63


Exam ARML/2019
Time = 186 , Problems = nan
Number of questions that year = 59


Exam ARML/2011
Time = 186 , Problems = nan
Number of questions that year = 69

## COMPUTE T_HUMAN

### IMO (Linear & SQRT T_human)

In [126]:
import pandas as pd
import numpy as np

path = FILES["English_Olympiad_Mathematics"]
data_df = pd.read_json(path)
avg_T_human_IMO = CONTEST_RULES['IMO'][0] / CONTEST_RULES['IMO'][1]  # minutes

# Filter rows where 'source' matches 'IMO'
filtered_IMO = data_df[data_df["source"].str.contains("IMO", case=False, na=False)].copy()

# Safe string lengths
q_len = filtered_IMO["question"].fillna("").astype(str).str.len()
s_len = filtered_IMO["solution"].fillna("").astype(str).str.len()

# Mean lengths (characters)
q_mean_len = q_len.mean()
s_mean_len = s_len.mean()

# Pair length and global mean length
pair_len = (q_len + s_len) / 2.0
mean_len = (q_mean_len + s_mean_len) / 2.0

# LINEAR --------------
# Proportional T_human: e.g., 50% longer text ⇒ 1.5 × 90 minutes
# filtered_IMO["T_human"] = (pair_len / mean_len) * avg_T_human_IMO


# SQRT SCALING (LOT LINEAR) ---------------
ratio = np.sqrt(pair_len / mean_len)
ratio = np.clip(ratio, 0.3, 2.5) / ratio.mean()
filtered_IMO["T_human"] = ratio * avg_T_human_IMO

# Add back to the original dataframe
if "T_human" not in data_df.columns:
    data_df["T_human"] = np.nan  # create the column if missing

data_df.loc[filtered_IMO.index, "T_human"] = filtered_IMO["T_human"].values

In [127]:
filtered_IMO["T_human"].describe()

count    509.000000
mean      90.000000
std       27.903833
min       35.319121
25%       71.270937
50%       86.093262
75%      106.389184
max      228.877375
Name: T_human, dtype: float64

In [128]:
data_df["T_human"].describe()

count    509.000000
mean      90.000000
std       27.903833
min       35.319121
25%       71.270937
50%       86.093262
75%      106.389184
max      228.877375
Name: T_human, dtype: float64

### EGMO (Linear & SQRT T_human)

In [129]:
# --- EGMO exam definitions by ROW INDEX in data_df ---
EGMO = {
    "EGMO/2021":   [562, 563, 564],
    "EGMO/2021-2": [565, 566, 567],
    "EGMO/2017":   [568, 569, 570],
    "EGMO/2017-2": [571, 572, 573, 574],
    "EGMO/2016":   [575, 576, 577],
    "EGMO/2016-2": [578, 579, 580],
    "EGMO/2020":   [583, 584, 585],
    "EGMO/2018":   [586, 587, 588, 589, 590],
    "EGMO/2018-2": [591, 592, 593, 594],
    "EGMO/2019":   [595, 596, 597],
    "EGMO/2019-2": [598, 599, 600],
    "EGMO/2022":   [601, 602, 603],  # fixed typo
    "EGMO/2022-2": [604, 605, 606],
    "EGMO/2013":   [607, 608, 609, 610],
    "EGMO/2013-2": [611, 612, 613],
    "EGMO/2015":   [614, 615, 616],
    "EGMO/2015-2": [617, 618, 619],
    "EGMO/2023":   [620, 621, 622],
    "EGMO/2023-2": [623, 624, 625],
}

TOTAL_MIN = CONTEST_RULES['EGMO'][0]  # total minutes per exam

# Ensure result columns exist
if "T_human" not in data_df.columns:
    data_df["T_human"] = np.nan
if "exam" not in data_df.columns:
    data_df["exam"] = np.nan

def safe_len_series(s: pd.Series) -> pd.Series:
    return s.fillna("").astype(str).str.len()

# Helper to check index bounds
n_rows = len(data_df)
def in_bounds(idx_list):
    return [i for i in idx_list if 0 <= i < n_rows]

for exam_name, idx_list in EGMO.items():
    idx_list = in_bounds(idx_list)
    if not idx_list:
        continue  # skip if nothing valid

    # Select by POSITION (rows are given as row numbers)
    df_exam = data_df.iloc[idx_list].copy()

    # Text lengths
    q_len = safe_len_series(df_exam["question"])
    s_len = safe_len_series(df_exam["solution"])
    pair_len = (q_len + s_len) / 2.0

    # Base per-problem time
    n_problems = len(df_exam)
    base_time = TOTAL_MIN / n_problems

    # Scale within the exam so total remains ~270
    mean_pair = pair_len.mean()
    if mean_pair == 0 or np.isnan(mean_pair):
        t_values = pd.Series(base_time, index=df_exam.index)  # fallback: equal split
    else:

        # LINEAR --------------
        # t_values = base_time * (pair_len / mean_pair)

        # SQRT SCALING (LOT LINEAR) ---------------
        ratio = np.sqrt(pair_len / mean_pair)
        ratio = np.clip(ratio, 0.3, 2.5) / ratio.mean()
        t_values = ratio * base_time
    
    # Write back into the main df
    data_df.loc[df_exam.index, "T_human"] = t_values.values
    data_df.loc[df_exam.index, "exam"] = exam_name

C:\Users\mikel\AppData\Local\Temp\ipykernel_17632\225393338.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'EGMO/2021' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data_df.loc[df_exam.index, "exam"] = exam_name

In [130]:
# --- Sanity check: each exam sums to ~270 ---
summary = (
    data_df.dropna(subset=["exam", "T_human"])
    .groupby("exam")["T_human"].sum()
    .sort_index()
)
print(summary)

exam
EGMO/2013      270.0
EGMO/2013-2    270.0
EGMO/2015      270.0
EGMO/2015-2    270.0
EGMO/2016      270.0
EGMO/2016-2    270.0
EGMO/2017      270.0
EGMO/2017-2    270.0
EGMO/2018      270.0
EGMO/2018-2    270.0
EGMO/2019      270.0
EGMO/2019-2    270.0
EGMO/2020      270.0
EGMO/2021      270.0
EGMO/2021-2    270.0
EGMO/2022      270.0
EGMO/2022-2    270.0
EGMO/2023      270.0
EGMO/2023-2    270.0
Name: T_human, dtype: float64

In [131]:
data_df["T_human"].describe()

count    571.000000
mean      89.211909
std       27.486179
min       21.693528
25%       70.346866
50%       85.804320
75%      105.550919
max      228.877375
Name: T_human, dtype: float64

### RMM (Linear & SQRT T_human)

In [132]:
# --- RMM exam definitions by ROW INDEX in data_df ---
RMM = {
    "RMM/2013":   [0, 1, 2],
    "RMM/2013-2":   [29, 30, 31],
    "RMM/2021":   [3, 4, 5],
    "RMM/2021-2": [26, 27, 28],
    "RMM/2015":   [6, 7, 8],
    "RMM/2015-2": [32, 33, 34],
    "RMM/2017":   [9, 10, 11, 12],
    "RMM/2017-2": [35, 36, 37],
    "RMM/2023":   [13, 14, 15],
    "RMM/2023-2": [16, 17, 18],
    "RMM/2016":   [19, 20, 21, 22],
    "RMM/2016-2": [41, 42, 43],
    "RMM/2011":   [23, 24, 25],
    "RMM/2011-2": [47, 48, 49],
    "RMM/2018":   [38, 39, 40],
    "RMM/2018-2": [50, 51, 52],
    "RMM/2019":   [44, 45, 46],
}

TOTAL_MIN = CONTEST_RULES['RMM'][0]  # total minutes per exam

def safe_len_series(s: pd.Series) -> pd.Series:
    return s.fillna("").astype(str).str.len()

# Helper to check index bounds
n_rows = len(data_df)
def in_bounds(idx_list):
    return [i for i in idx_list if 0 <= i < n_rows]

for exam_name, idx_list in RMM.items():
    idx_list = in_bounds(idx_list)
    if not idx_list:
        continue  # skip if nothing valid

    # Select by POSITION (rows are given as row numbers)
    df_exam = data_df.iloc[idx_list].copy()

    # Text lengths
    q_len = safe_len_series(df_exam["question"])
    s_len = safe_len_series(df_exam["solution"])
    pair_len = (q_len + s_len) / 2.0

    # Base per-problem time
    n_problems = len(df_exam)
    base_time = TOTAL_MIN / n_problems

    # Scale within the exam so total remains ~270
    mean_pair = pair_len.mean()
    if mean_pair == 0 or np.isnan(mean_pair):
        t_values = pd.Series(base_time, index=df_exam.index)  # fallback: equal split
    else:
        
        # LINEAR --------------
        # t_values = base_time * (pair_len / mean_pair)

        # SQRT SCALING (LOT LINEAR) ---------------
        ratio = np.sqrt(pair_len / mean_pair)
        ratio = np.clip(ratio, 0.3, 2.5) / ratio.mean()
        t_values = ratio * base_time

    # Write back into the main df
    data_df.loc[df_exam.index, "T_human"] = t_values.values
    data_df.loc[df_exam.index, "exam"] = exam_name

In [133]:
# --- Sanity check: each exam sums to ~270 ---
summary = (
    data_df.dropna(subset=["exam", "T_human"])
    .groupby("exam")["T_human"].sum()
    .sort_index()
)
print(summary)

exam
EGMO/2013      270.0
EGMO/2013-2    270.0
EGMO/2015      270.0
EGMO/2015-2    270.0
EGMO/2016      270.0
EGMO/2016-2    270.0
EGMO/2017      270.0
EGMO/2017-2    270.0
EGMO/2018      270.0
EGMO/2018-2    270.0
EGMO/2019      270.0
EGMO/2019-2    270.0
EGMO/2020      270.0
EGMO/2021      270.0
EGMO/2021-2    270.0
EGMO/2022      270.0
EGMO/2022-2    270.0
EGMO/2023      270.0
EGMO/2023-2    270.0
RMM/2011       270.0
RMM/2011-2     270.0
RMM/2013       270.0
RMM/2013-2     270.0
RMM/2015       270.0
RMM/2015-2     270.0
RMM/2016       270.0
RMM/2016-2     270.0
RMM/2017       270.0
RMM/2017-2     270.0
RMM/2018       270.0
RMM/2018-2     270.0
RMM/2019       270.0
RMM/2021       270.0
RMM/2021-2     270.0
RMM/2023       270.0
RMM/2023-2     270.0
Name: T_human, dtype: float64

In [134]:
data_df["T_human"].describe()

count    624.000000
mean      88.990385
std       27.190145
min       21.693528
25%       70.258610
50%       85.452943
75%      105.492091
max      228.877375
Name: T_human, dtype: float64

### EMC (Linear & SQRT T_human)

In [135]:
# Baseline: total minutes per EMC source (two versions in the same year)
TOTAL_MIN = CONTEST_RULES['EMC'][0]  # expected 240 * 2

# Filter EMC rows
filtered_EMC = data_df[data_df["source"].str.contains("EMC", case=False, na=False)].copy()

# Prepare result column(s)
if "T_human" not in data_df.columns:
    data_df["T_human"] = np.nan
if "exam" not in data_df.columns:
    data_df["exam"] = np.nan  # optional: tag the source

def safe_len_series(s: pd.Series) -> pd.Series:
    return s.fillna("").astype(str).str.len()

# Compute lengths once
filtered_EMC["_q_len"] = safe_len_series(filtered_EMC["question"])
filtered_EMC["_s_len"] = safe_len_series(filtered_EMC["solution"])
filtered_EMC["_pair_len"] = (filtered_EMC["_q_len"] + filtered_EMC["_s_len"]) / 2.0

# Scale times within each EMC source so totals per source are TOTAL_MIN
for src, df_src in filtered_EMC.groupby("source", dropna=True):
    idx = df_src.index
    pair_len = df_src["_pair_len"]
    n_probs = len(df_src)

    # Equal split baseline
    base_time = TOTAL_MIN / n_probs if n_probs > 0 else np.nan

    mean_pair = pair_len.mean()
    if not np.isfinite(mean_pair) or mean_pair == 0:
        t_values = pd.Series(base_time, index=idx)  # fallback: equal time per problem
    else:
        # LINEAR --------------
        # t_values = base_time * (pair_len / mean_pair)

        # SQRT SCALING (LOT LINEAR) ---------------
        ratio = np.sqrt(pair_len / mean_pair)
        ratio = np.clip(ratio, 0.3, 2.5) / ratio.mean()
        t_values = ratio * base_time

        # Numerical guard: renormalize to hit TOTAL_MIN exactly (optional)
        scale_fix = TOTAL_MIN / t_values.sum() if np.isfinite(t_values.sum()) and t_values.sum() != 0 else 1.0
        t_values = t_values * scale_fix

        

    # Write back to original dataframe
    data_df.loc[idx, "T_human"] = t_values.values
    data_df.loc[idx, "exam"] = src  # optional tagging

# Cleanup helper columns from filtered copy (not necessary to drop from data_df as they were never added)
# filtered_EMC.drop(columns=["_q_len", "_s_len", "_pair_len"], errors="ignore", inplace=True)

In [136]:
data_df["T_human"].describe()

count    988.000000
mean      68.836032
std       35.241008
min       11.521161
25%       37.235266
50%       68.732478
75%       92.378102
max      228.877375
Name: T_human, dtype: float64

### ARML (Linear & SQRT T_human)

In [137]:
# Baseline: total minutes per ARML source 
TOTAL_MIN = CONTEST_RULES['ARML'][0]

# Filter ARML rows
filtered_ARML = data_df[data_df["source"].str.contains("ARML", case=False, na=False)].copy()

# Prepare result column(s)
if "T_human" not in data_df.columns:
    data_df["T_human"] = np.nan
if "exam" not in data_df.columns:
    data_df["exam"] = np.nan  # optional: tag the source

def safe_len_series(s: pd.Series) -> pd.Series:
    return s.fillna("").astype(str).str.len()

# Compute lengths once
filtered_ARML["_q_len"] = safe_len_series(filtered_ARML["question"])
filtered_ARML["_s_len"] = safe_len_series(filtered_ARML["solution"])
filtered_ARML["_pair_len"] = (filtered_ARML["_q_len"] + filtered_ARML["_s_len"]) / 2.0

# Scale times within each ARML source so totals per source are TOTAL_MIN
for src, df_src in filtered_ARML.groupby("source", dropna=True):
    idx = df_src.index
    pair_len = df_src["_pair_len"]
    n_probs = len(df_src)

    # Equal split baseline
    base_time = TOTAL_MIN / n_probs if n_probs > 0 else np.nan

    mean_pair = pair_len.mean()
    if not np.isfinite(mean_pair) or mean_pair == 0:
        t_values = pd.Series(base_time, index=idx)  # fallback: equal time per problem
    else:
        # LINEAR --------------
        # t_values = base_time * (pair_len / mean_pair)

        # SQRT SCALING (LOT LINEAR) ---------------
        ratio = np.sqrt(pair_len / mean_pair)
        ratio = np.clip(ratio, 0.3, 2.5) / ratio.mean()
        t_values = ratio * base_time

        # Numerical guard: renormalize to hit TOTAL_MIN exactly (optional)
        scale_fix = TOTAL_MIN / t_values.sum() if np.isfinite(t_values.sum()) and t_values.sum() != 0 else 1.0
        t_values = t_values * scale_fix

    # Write back to original dataframe
    data_df.loc[idx, "T_human"] = t_values.values
    data_df.loc[idx, "exam"] = src  # optional tagging

In [138]:
data_df["T_human"].describe()

count    1493.000000
mean       46.549230
std        42.361307
min         1.002451
25%         3.639892
50%        36.358897
75%        80.437932
max       228.877375
Name: T_human, dtype: float64

In [139]:
for source in data_df['source'].unique():

    print('\n\nExam ' + source)

    for contest in CONTEST_RULES.keys():

        if contest in source: print( "Time = " + str( CONTEST_RULES[contest][0] ) + ' , Problems = ' + str( CONTEST_RULES[contest][1] ))

    print( "Number of questions that year = " + str( len(data_df[ data_df['source'] == source ]) ) )

    print( data_df[ data_df['source'] == source ]["T_human"] )

Exam RMM/2013
Time = 270 , Problems = nan
Number of questions that year = 6
0      66.614898
1     110.924957
2      92.460145
29     61.703555
30    137.964465
31     70.331979
Name: T_human, dtype: float64


Exam RMM/2021
Time = 270 , Problems = nan
Number of questions that year = 6
3     106.411487
4      83.296309
5      80.292205
26     89.688753
27     68.421089
28    111.890158
Name: T_human, dtype: float64


Exam RMM/2015
Time = 270 , Problems = nan
Number of questions that year = 6
6      59.225407
7      78.133388
8     132.641205
32     60.518140
33    104.290623
34    105.191237
Name: T_human, dtype: float64


Exam RMM/2017
Time = 270 , Problems = nan
Number of questions that year = 7
9      48.449980
10     43.718671
11     54.476772
12    123.354576
35     75.135926
36     95.959184
37     98.904891
Name: T_human, dtype: float64


Exam RMM/2023
Time = 270 , Problems = nan
Number of questions that year = 6
13     80.933932
14     86.165554
15    102.900513
16     82.028423
17     71.659135
18    116.312442
Name: T_human, dtype: float64


Exam RMM/2016
Time = 270 , Problems = nan
Number of questions that year = 7
19     42.560221
20     63.413301
21     77.092893
22     86.933585
41     85.301844
42    115.972277
43     68.725880
Name: T_human, dtype: float64


Exam RMM/2011
Time = 270 , Problems = nan
Number of questions that year = 6
23     81.510913
24    108.505338
25     79.983749
47     44.216874
48    141.776366
49     84.006760
Name: T_human, dtype: float64


Exam RMM/2018
Time = 270 , Problems = nan
Number of questions that year = 6
38     93.491443
39    107.910496
40     68.598061
50     74.594710
51     99.367532
52     96.037758
Name: T_human, dtype: float64


Exam RMM/2019
Time = 270 , Problems = nan
Number of questions that year = 3
44     59.317225
45     98.755374
46    111.927400
Name: T_human, dtype: float64


Exam IMO/2007
Time = 270 , Problems = 3
Number of questions that year = 29
53     53.601534
54     57.020770
55     75.171356
56     89.059853
57     84.186074
58    106.110501
59     60.578286
60    118.373192
61    109.329252
62     73.941476
63     82.582383
64     91.858003
65     88.176023
66     86.524865
67     79.650359
68     79.072652
69     60.814337
70     49.545574
71     52.883944
72     96.453453
73    119.936339
74    103.909290
75     70.258610
76     71.898064
77     45.020570
78     89.945618
79     84.570952
80     66.630238
81     97.605207
Name: T_human, dtype: float64


Exam IMO/2011
Time = 270 , Problems = 3
Number of questions that year = 30
82      71.698513
83      71.605199
84      59.832630
85      66.184353
86      65.938556
87      77.412405
88      83.468226
89      77.511051
90      67.710952
91      83.342253
92      89.796824
93      91.347069
94      74.006037
95     143.629970
96      62.104270
97      70.813809
98      78.770084
99      81.041270
100     85.480887
101    102.660835
102     93.486489
103    119.553461
104     59.012856
105     91.701897
106     59.287374
107     63.080908
108     80.283415
109     67.541463
110     93.741569
111    121.981551
Name: T_human, dtype: float64


Exam IMO/2010
Time = 270 , Problems = 3
Number of questions that year = 26
112     68.649579
113     96.413834
114     68.454511
115     75.285627
116     72.387938
117    106.389184
118    107.078258
119    122.637539
120    122.161517
121     94.724775
122    127.307395
123    136.062234
124    190.374975
125     87.567305
126    105.424162
127     98.472306
128     85.380262
129     96.453453
130     99.408733
131    110.104060
132     53.100239
133     74.122105
134     70.040754
135     75.120513
136     71.270937
137    126.169387
Name: T_human, dtype: float64


Exam IMO/2006
Time = 270 , Problems = 3
Number of questions that year = 31
138     76.030485
139     46.337912
140    105.505672
141     74.763644
142     73.500959
143     77.338338
144     76.068165
145     50.895941
146     95.787667
147     82.373929
148     88.100163
149    111.157381
150    113.756415
151    177.974860
152     52.630476
153     78.600138
154     54.485232
155     54.186392
156     92.613964
157     96.868479
158     74.031845
159     90.178940
160    116.215220
161    178.253717
162     54.765004
163     49.776378
164     65.633653
165     75.980217
166     56.074862
167    101.876298
168     75.171356
Name: T_human, dtype: float64


Exam IMO/2021
Time = 270 , Problems = 3
Number of questions that year = 33
169     57.271486
170     89.849993
171    114.150370
172     74.109217
173     89.498495
174     48.572089
175     81.722005
176    113.831959
177     54.009831
178     46.952228
179     68.996541
180     85.380262
181     67.654503
182     77.535693
183     46.564102
184    131.674156
185     94.077215
186     83.307864
187     55.389325
188    112.277405
189     85.413817
190    102.549126
191     90.854289
192    157.157738
193    100.896514
194     38.551661
195     46.564102
196     74.456395
197     96.205564
198     76.206162
199    105.487565
200     79.313875
201    123.328766
Name: T_human, dtype: float64


Exam IMO/2017
Time = 270 , Problems = 3
Number of questions that year = 31
202     97.252274
203    100.725968
204     82.234666
205     92.706737
206    127.449868
207     88.834344
208    117.066865
209    127.434878
210     60.404596
211     97.321000
212     98.617695
213     90.062354
214    112.955927
215     92.737641
216    152.856631
217     66.844921
218     62.303888
219     55.698861
220     88.435619
221     86.469652
222    160.084262
223     95.107177
224    155.471237
225     83.319329
226     81.651847
227     74.827496
228     81.405819
229     80.710584
230    117.026062
231    121.989382
232    108.019662
Name: T_human, dtype: float64


Exam IMO/2016
Time = 270 , Problems = 3
Number of questions that year = 35
233     60.594052
234     60.657072
235    123.359742
236     94.340822
237     53.548048
238     43.290022
239     70.258610
240    136.867157
241     83.548291
242     87.359812
243     78.915462
244     51.232632
245     74.546140
246    110.225444
247     87.741655
248     69.438123
249     54.362379
250     79.349995
251    105.206494
252    111.157381
253     78.307943
254    124.285416
255    115.183276
256    152.581439
257     82.002035
258     65.589979
259     88.909577
260     93.680413
261     90.633245
262     68.370741
263     75.627405
264    115.869512
265     67.682733
266     90.527796
267    106.011438
Name: T_human, dtype: float64


Exam IMO/2020
Time = 270 , Problems = 3
Number of questions that year = 31
268     58.541591
269     63.638690
270     82.674860
271     61.563618
272     71.083064
273     86.093262
274     74.853021
275    109.495121
276     90.833260
277     74.096327
278     73.591869
279     69.835896
280     73.448959
281     88.284281
282    109.128127
283    103.531721
284     72.202971
285     72.414323
286     66.944870
287     60.467814
288    113.512654
289    127.749293
290     82.997720
291    116.609059
292     82.824916
293     61.221336
294     92.583018
295     99.110425
296     96.374198
297    115.770548
298    110.882068
Name: T_human, dtype: float64


Exam IMO/2019
Time = 270 , Problems = 3
Number of questions that year = 33
299     64.251117
300     74.776419
301    153.274725
302     87.752541
303    107.567751
304    131.558041
305     44.098842
306     74.405063
307     84.163379
308     68.314837
309    158.537402
310    115.770548
311    126.909124
312    160.376360
313    147.099349
314     91.231976
315     97.409291
316     47.938685
317     69.203884
318     84.378732
319    115.927201
320    137.909996
321    110.649240
322    116.428715
323    228.877375
324     95.438021
325    113.293664
326     83.513987
327    143.623320
328     94.381312
329    135.492418
330     82.315931
331     79.048489
Name: T_human, dtype: float64


Exam IMO/2015
Time = 270 , Problems = 3
Number of questions that year = 29
332     52.485088
333    103.660802
334    103.291573
335     64.606918
336    105.124752
337     38.203221
338    139.377421
339    106.191485
340     86.491742
341     80.009308
342    110.164769
343     97.585633
344    141.175035
345     57.371465
346     75.640034
347     95.167416
348     99.639069
349     98.472306
350     89.274094
351    147.014912
352    115.332445
353     69.465629
354     73.993129
355     57.868771
356    105.894243
357    122.200605
358    116.445121
359     99.216379
360    108.108051
Name: T_human, dtype: float64


Exam IMO/2014
Time = 270 , Problems = 3
Number of questions that year = 30
361     53.512362
362     74.597375
363     84.220104
364     76.043047
365    108.592902
366    172.878539
367     92.024225
368     47.316990
369     87.839575
370     80.354768
371     57.338158
372    131.768424
373     81.441011
374     98.646748
375    181.350780
376     62.883756
377     64.295700
378     65.517126
379    121.022476
380     83.135705
381    160.893676
382    107.621015
383    129.006690
384     64.057567
385     64.901928
386     87.839575
387    103.550171
388    137.264369
389     96.126105
390     82.246280
Name: T_human, dtype: float64


Exam IMO/2022
Time = 270 , Problems = 3
Number of questions that year = 33
391     52.064835
392     66.457992
393    130.661963
394     61.950279
395    104.312965
396     81.873807
397     86.844411
398    128.762128
399     66.701875
400     84.333441
401     85.915567
402    113.470573
403     70.435123
404    154.410913
405    112.930556
406     89.113461
407    120.055738
408     71.565170
409     57.037519
410     71.485045
411     69.300431
412    109.311778
413    101.453514
414     98.083547
415     91.920371
416     64.265982
417     50.933461
418     96.740209
419     76.917277
420     69.534346
421     75.866992
422     79.710296
423    101.397010
Name: T_human, dtype: float64


Exam IMO/2018
Time = 270 , Problems = 3
Number of questions that year = 27
424     55.337567
425     85.804320
426     88.165190
427    118.944716
428    104.824485
429     91.858003
430     77.189991
431     51.733560
432     71.525119
433     54.782443
434     75.551588
435    128.360929
436    110.407270
437    119.633328
438     85.413817
439     53.136203
440     72.874519
441     70.027115
442    132.563393
443    116.715496
444     81.710316
445     76.979343
446    103.881710
447    130.119886
448     96.799431
449    114.834461
450     82.153320
Name: T_human, dtype: float64


Exam IMO/2013
Time = 270 , Problems = 3
Number of questions that year = 25
451    101.857544
452     66.944870
453     66.816336
454    121.440054
455    125.957235
456     97.183499
457     84.604828
458     83.479668
459    118.510287
460     77.115710
461     80.426057
462    159.216753
463     94.290185
464     61.826811
465     78.673017
466    108.935398
467    134.302872
468    124.239296
469     57.753116
470     82.036972
471     62.104270
472    119.649295
473    119.425562
474    120.151172
475    118.478044
Name: T_human, dtype: float64


Exam IMO/2009
Time = 270 , Problems = 3
Number of questions that year = 33
476     67.499024
477     81.605042
478     71.711834
479     49.216749
480     84.503160
481     95.167416
482    109.973857
483     40.082177
484     45.168839
485     71.858198
486     81.241386
487    109.442769
488     99.514370
489     89.466472
490     86.447557
491    105.596165
492    204.099201
493    114.142003
494     73.253633
495     91.649803
496    109.739102
497    114.851096
498    109.075598
499     96.769825
500     96.255193
501    103.927673
502     46.152022
503     42.913291
504     74.083435
505    117.490372
506     78.527191
507     90.896332
508    132.217085
Name: T_human, dtype: float64


Exam IMO/2008
Time = 270 , Problems = 3
Number of questions that year = 26
509     59.464327
510     56.583565
511     71.458316
512    102.287996
513     53.226006
514     89.231287
515    122.606381
516     91.868401
517     76.268806
518     83.742417
519     85.424999
520     96.235345
521    124.054645
522     95.937125
523     56.936953
524     86.987274
525     93.823048
526     72.123554
527    124.845176
528     90.664855
529     83.078239
530     72.427512
531     88.952539
532    129.088108
533     91.712312
534     52.920055
Name: T_human, dtype: float64


Exam IMO/2012
Time = 270 , Problems = 3
Number of questions that year = 27
535     86.524865
536     99.495172
537     56.346742
538    119.513507
539     75.652660
540     78.014654
541    114.617997
542     77.572641
543     62.288556
544     60.119293
545    110.268763
546     80.437932
547     62.670745
548     83.170165
549     86.281662
550     62.058113
551     49.853075
552     71.605199
553     57.137908
554     55.303035
555    104.303808
556    132.937541
557     67.851870
558     35.319121
559     46.481978
560     66.314112
561    117.441584
Name: T_human, dtype: float64


Exam EGMO/2021
Time = 270 , Problems = nan
Number of questions that year = 6
562     91.959070
563     74.879211
564    103.161718
565     94.695740
566     86.997705
567     88.306554
Name: T_human, dtype: float64


Exam EGMO/2017
Time = 270 , Problems = nan
Number of questions that year = 7
568     55.630948
569    110.696085
570    103.672967
571     62.760940
572     58.751625
573     57.963323
574     90.524112
Name: T_human, dtype: float64


Exam EGMO/2016
Time = 270 , Problems = nan
Number of questions that year = 6
575     64.559740
576     77.293226
577    128.147034
578     74.961668
579     92.268561
580    102.769771
Name: T_human, dtype: float64


Exam EGMO/2020
Time = 270 , Problems = nan
Number of questions that year = 5
581           NaN
582           NaN
583     84.551866
584    124.684050
585     60.764084
Name: T_human, dtype: float64


Exam EGMO/2018
Time = 270 , Problems = nan
Number of questions that year = 9
586    49.576470
587    21.693528
588    72.847603
589    68.739076
590    57.143322
591    54.296082
592    84.807653
593    37.509054
594    93.387211
Name: T_human, dtype: float64


Exam EGMO/2019
Time = 270 , Problems = nan
Number of questions that year = 6
595     80.799612
596     57.218846
597    131.981542
598     97.132428
599    106.172751
600     66.694821
Name: T_human, dtype: float64


Exam EGMO/2022
Time = 270 , Problems = nan
Number of questions that year = 6
601     88.909238
602    109.349869
603     71.740892
604     68.529373
605     79.749512
606    121.721114
Name: T_human, dtype: float64


Exam EGMO/2013
Time = 270 , Problems = nan
Number of questions that year = 7
607     92.350754
608     80.633757
609     33.103013
610     63.912476
611     77.651332
612    109.954793
613     82.393876
Name: T_human, dtype: float64


Exam EGMO/2015
Time = 270 , Problems = nan
Number of questions that year = 6
614    101.244030
615     86.829099
616     81.926872
617     78.825755
618     97.628937
619     93.545308
Name: T_human, dtype: float64


Exam EGMO/2023
Time = 270 , Problems = nan
Number of questions that year = 6
620    100.001381
621    110.896923
622     59.101696
623     69.613489
624     87.313783
625    113.072728
Name: T_human, dtype: float64


Exam EMC/2001
Time = 480 , Problems = nan
Number of questions that year = 12
626    35.393479
627    30.521372
628    31.417288
629    37.812695
630    17.721741
631    38.077177
632    49.137404
633    19.223733
634    32.868214
635    28.932681
636    72.744721
637    86.149497
Name: T_human, dtype: float64


Exam EMC/2011
Time = 480 , Problems = nan
Number of questions that year = 17
638    20.119869
639    21.731942
640    22.366070
641    21.864300
642    37.481294
643    20.458961
644    27.566371
645    39.935243
646    39.471286
647    35.089805
648    17.180609
649    24.095259
650    25.070289
651    29.712905
652    16.815022
653    27.534149
654    53.506628
Name: T_human, dtype: float64


Exam EMC/2005
Time = 480 , Problems = nan
Number of questions that year = 12
655    36.102782
656    41.734486
657    35.352258
658    29.119674
659    39.179392
660    22.887802
661    35.951769
662    50.282420
663    39.711397
664    44.693123
665    34.269390
666    70.715508
Name: T_human, dtype: float64


Exam EMC/2021
Time = 480 , Problems = nan
Number of questions that year = 22
667    12.550326
668    17.834793
669    13.979828
670    13.803697
671    18.115539
672    17.018700
673    11.521161
674    15.346055
675    27.717957
676    17.374406
677    27.008197
678    21.475934
679    30.846181
680    24.757128
681    18.275224
682    33.066591
683    21.871057
684    15.346055
685    19.450745
686    26.447491
687    35.643853
688    40.549082
Name: T_human, dtype: float64


Exam EMC/2015
Time = 480 , Problems = nan
Number of questions that year = 10
689    33.481561
690    34.669884
691    35.036771
692    38.476987
693    49.030620
694    45.130075
695    53.625636
696    71.100094
697    46.057155
698    73.391218
Name: T_human, dtype: float64


Exam EMC/2004
Time = 480 , Problems = nan
Number of questions that year = 14
699    19.337227
700    20.746148
701    39.015884
702    24.210222
703    35.538301
704    34.574163
705    29.658558
706    38.274133
707    43.495853
708    22.525831
709    25.534712
710    33.300901
711    47.411480
712    66.376588
Name: T_human, dtype: float64


Exam EMC/2020
Time = 480 , Problems = nan
Number of questions that year = 16
713    26.222009
714    19.703741
715    19.921812
716    31.070034
717    25.323932
718    19.813077
719    25.650862
720    32.163283
721    20.934015
722    27.271993
723    38.367858
724    36.318309
725    48.804599
726    43.431021
727    21.515626
728    43.487830
Name: T_human, dtype: float64


Exam EMC/2014
Time = 480 , Problems = nan
Number of questions that year = 14
729    30.744524
730    19.232710
731    27.790753
732    21.128342
733    33.384292
734    21.156836
735    40.008483
736    33.734345
737    15.982298
738    28.306236
739    32.911763
740    48.614460
741    53.707307
742    73.297649
Name: T_human, dtype: float64


Exam EMC/2000
Time = 480 , Problems = nan
Number of questions that year = 17
743    13.818304
744    25.252996
745    28.033896
746    25.586527
747    31.088960
748    39.112349
749    18.031180
750    24.587353
751    19.141812
752    45.765738
753    18.031180
754    23.372973
755    30.137707
756    28.386702
757    28.191243
758    37.377432
759    44.083651
Name: T_human, dtype: float64


Exam EMC/2010
Time = 480 , Problems = nan
Number of questions that year = 17
760    22.726034
761    17.787929
762    19.253119
763    26.300274
764    31.873479
765    21.769386
766    34.021346
767    19.923150
768    20.785793
769    28.357551
770    20.545487
771    20.424274
772    31.323411
773    36.535081
774    30.169720
775    35.710210
776    62.493755
Name: T_human, dtype: float64


Exam EMC/2007
Time = 480 , Problems = nan
Number of questions that year = 18
777    24.704658
778    20.634727
779    19.124629
780    17.827764
781    25.763360
782    19.762054
783    24.072259
784    22.166208
785    31.956841
786    35.282812
787    26.334304
788    28.782790
789    19.956213
790    39.926224
791    27.749973
792    34.700366
793    20.992007
794    40.262812
Name: T_human, dtype: float64


Exam EMC/2023
Time = 480 , Problems = nan
Number of questions that year = 14
795    17.086681
796    22.828996
797    49.074934
798    35.839264
799    24.700508
800    27.527320
801    22.412924
802    30.321894
803    31.227403
804    33.203745
805    63.764862
806    23.810311
807    42.825650
808    55.375506
Name: T_human, dtype: float64


Exam EMC/2017
Time = 480 , Problems = nan
Number of questions that year = 18
809    18.772465
810    17.614394
811    26.840201
812    21.041474
813    20.130151
814    20.917659
815    27.920666
816    24.531071
817    17.005811
818    30.861743
819    20.492501
820    31.011015
821    43.353152
822    22.512604
823    26.015663
824    37.797761
825    18.170902
826    55.010766
Name: T_human, dtype: float64


Exam EMC/2003
Time = 480 , Problems = nan
Number of questions that year = 19
827    12.532103